<?xml version='1.0' encoding='utf-8'?>
<widget id="app.chtosar.eqplayersftp" version="0.9.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>EQPlayerSFTP</name>
    <description>Music player with classic equalizer bars and SFTP</description>
    <author href="https://github.com/ChTosar">
        chtosar
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <platform name="android">
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
        </config-file>
        <preference name="SplashScreen" value="screen"/>
        <preference name="SplashScreenDelay" value="3000"/>
        <preference name="FadeSplashScreenDuration" value="500"/>
        <preference name="ShowSplashScreenSpinner" value="false"/>
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="resources/android/splash/drawable-land-ldpi-screen.png"/>
        <preference name="AndroidWindowSplashScreenBackground" value="#000000"/>

        <icon density="hdpi" src="resources/android/icon/drawable-hdpi-icon.png" />
        <icon density="hdpi" src="resources/android/icon/drawable-ldpi-icon.png" />
        <icon density="mdpi" src="resources/android/icon/drawable-mdpi-icon.png" />
        <icon density="xhdpi" src="resources/android/icon/drawable-xhdpi-icon.png" />
        <icon density="xxhdpi" src="resources/android/icon/drawable-xxhdpi-icon.png" />
        <icon density="xxxhdpi" src="resources/android/icon/drawable-xxxhdpi-icon.png" />
        <icon density="ldpi" src="resources/android/icon/drawable-ldpi-icon.png" />
    </platform>
</widget>
