body {
    background-color: #000;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    --main-color: #ff2540;
}

container {
    padding: 3% 5%;
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
    box-sizing: border-box;
}

@media screen and (orientation: portrait) {
    container {
        padding: 12% 6%;
    }
}

.controllers {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.controllers .group {
    display: flex;
}

segment-display {
    padding-bottom: 0.3rem;
}

button,
button:focus,
button:focus-visible {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    user-select: none;
}

.controllers button {
    display: block;
    font-size: 1.5rem;
    color: var(--main-color);
    background-color: #222222;
    border: none;
    width: 45px;
    height: 45px;
    padding: 5px;
    margin-inline-end: 20px;
    line-height: 0;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.controllers button:last-child {
    margin-inline-end: 0;
}

container canvas#progressCanvas {
    width: 100%;
    padding: 1rem 0;
}

container.list {
    align-content: start;
}

.list ul {
    margin: 0;
    display: inline-block;
    width: 100%;
    list-style-type: none;
    padding: 0;
    height: calc(100% - 200px);
    overflow: scroll;
    border: 1px solid #222;
}

.list button {
    font-size: 1rem;
    border: 1px solid #222;
    padding: 0.5rem 2.5rem;
    border-radius: 3px 3px 0 0;
    margin-bottom: -1px;
    color: white;
    background: linear-gradient(180deg, #222 0%, #000 100%);
}

.list li {
    border-radius: 1px;
    padding: 5px;
    background: black;
    border: 0.5px solid #222;
    border-top: none;
    justify-content: space-between;
    display: flex;
    user-select: none;
}

.list button.selected {
    color: var(--main-color);
}

.list ul:not(.selected) {
    display: none;
}

.list li .badge {
    display: inline-block;
    background: orange;
    padding: 0.4rem;
    border-radius: 20px;
    color: black;
    line-height: 0.5;
}

.slideController {
    width: 200%;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
}

.slideController .main,
.slideController .settings {
    flex: 0 0 100%;
    /* can't grow, can't shrink, fixed an 100% width */
    width: 100%;
}

.slideController .settings {
    margin-inline-start: 5%;
    position: relative;
}

.slideController .settings h4 {
    color: var(--main-color);
}

.settings .option {
    display: flex;
    justify-content: space-between;
    width: 215px;
    margin-bottom: 1rem;
}

.settings .option input {
    background: #222;
    color: white;
    border: none;
    padding: 0.3rem;
    width: 100%;
}
.settings .option input[type="checkbox"] {
    width: 30px;
}
.settings .hidden {
    display: none;
}

.settings .form.theme,
.settings .form.ssh,
.settings .form.about {
    animation: fadeIn 1.2s ease-in-out forwards;
    position: absolute;
    top: 35px;
    padding-top: 1rem;
    z-index: 10;
    overflow: scroll;
    max-height: calc(100% - 50px);
}

@font-face {
    font-family: 'fontello';
    src: url('../font/fontello.woff2');
    font-weight: normal;
    font-style: normal;
}

.icon {
    font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    line-height: 1em;
}

.settings .bg {
    width: 190px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    align-content: center;
    transition: all 620ms;
}

#sshConfig,
.settings button.menu {
    text-align: start;
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0.1rem 0;
    display: inline-block;
    background: linear-gradient(90deg, #222 0%, #000 50%, #222 100%);
    background-size: 200% 200%;
    background-position: 0% 50%;
    color: white;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0 0px 13px 0px #2121214a;
    transition: background-position 1s, opacity 800ms;
}

.settings button.menu:hover {
    background-position: 200% 50%;
    color: var(--main-color);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    20% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.customColors input[type="color"] {
    width: 80px;
    border-radius: 3px;
}

#colorSelect {
    background: #222;
    color: white;
    border: none;
    padding: 0.2rem;
    border-radius: 2px;
}

.form.about span, 
.form.about pre {
    display: block;
    width: 190px;
    text-align: center;
    margin: 0.4rem;
    color: #dbdbdb;
}

.form.about a {
    color: white;
}